/* Google Font "poppins" */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background: #121213;
    display: grid;
    place-items: center;
}
header{
    position: relative;
    width: 85%;
    height: 95%;
    margin-top: 40px;
    margin-bottom: 30px;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 8px 8px #36e2ec;
    overflow: hidden;
}
header .menu, .song{
    width: 25%;
    height: 90%;
    /* border: 1px solid #fff; */
    background: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
}
header .song{
    width: 74.5%;
    background: #0b1320;
}
header .masterPlay{
    width: 100%;
    height: 10%;
    /* border: 1px solid #fff; */
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}
header .menu h1{
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
}
header .menu .playlist{
    margin: 40px 0px 0px 20px;
}
header .menu .playlist h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}
header .menu .playlist h4:hover{
    color: #fff;
}
header .menu .playlist h4 span{
    position: relative;
    margin-right: 35px;
}
header .menu .playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}
header .menu .playlist h4:hover span::before{
    border: 2px solid #fff;
}
header .menu .playlist h4 .bi{
    display: none;
}
header .menu .playlist .active{
    color: #36e2ec;
}
header .menu .playlist .active span{
    display: none;
}
header .menu .playlist .active .bi{
    display: flex;
    margin-right: 20px;
}
header .menu .menu_song{
    width: 100%;
    height: 350px;
    /* border: 1px solid #fff; */
    margin-top: 40px;
    overflow: auto;
}
header .menu .menu_song::-webkit-scrollbar{
    display: none;
}
header .menu .menu_song li{
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}
header .menu .menu_song li:hover{
    background: rgb(105, 105, 105, .1);
}
header .menu .menu_song li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}
header .menu .menu_song li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}
header .menu .menu_song li h5{
    font-size: 11px;
    margin-left: 15px;
    width: 170px;
    /* border: 1px solid #fff; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header .menu .menu_song li h5 .subtitle{
    font-size: 9px;
    color: #4c5262;
}
header .menu .menu_song li .bi{
    position: absolute;
    right: 15px;
}
header .masterPlay{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
header .masterPlay .wave{
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}
header .masterPlay .wave .wave1{
    width: 3px;
    height: 10px;
    background: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: unset;
    /* animation: wave .5s linear infinite; */
}
header .masterPlay .wave .wave1:nth-child(2){
    height: 13px;
    margin-right: 3.5px;
    animation-delay: .4s;
}
header .masterPlay .wave .wave1:nth-child(3){
    height: 8px;
    animation-delay: .8s;
}

/* Javascript classes */

header .masterPlay .active1 .wave1{
    animation: wave .5s linear infinite;
}
header .masterPlay .active1 .wave1:nth-child(2){
    animation-delay: .4s;
}
header .masterPlay .active1 .wave1:nth-child(3){
    animation-delay: .8s;
}

@keyframes wave{
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}

header .masterPlay img{
    width: 35px;
    height: 35px;
}
header .masterPlay h5{
    width: 130px;
    /* border: 1px solid #fff; */
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}
header .masterPlay h5 .subtitle{
    font-size: 11px;
    color: #4c5262;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
header .masterPlay .icon{
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px 40px;
    outline: none;
    display: flex;
    align-items: center;
}
header .masterPlay .icon .bi{
    cursor: pointer;
    outline: none;
}
header .masterPlay .icon .shuffle{
    font-size: 17px;
    margin-right: 10px;
    width: 17.5px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
header .masterPlay .icon #download_music{
    font-size: 20px;
    margin-left: 10px;
}
header .masterPlay .icon .bi:nth-child(3){
    border: 1px solid rgb(105, 105, 105, .1);
    border-radius: 50%;
    padding: 1px 5px 0px 7px;
    margin: 0px 5px;
}
header .masterPlay span{
    color: #fff;
    width: 32px;
    /* border: 1px solid #fff; */
    font-size: 11px;
    font-weight: 400;
}
header .masterPlay #currentStart{
    margin: 0px 0px 0px 20px;
}
header .masterPlay .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105, 170, .1);
    margin: 0px 15px 0px 10px;
}
header .masterPlay .bar .bar2{
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
header .masterPlay .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}
header .masterPlay .bar .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}
header .masterPlay .bar input{
    position: absolute;
    width: 100%;
    top: -5px;
    left: 0;
    cursor: pointer;
    z-index: 999999999999999999999999999999999999999999999999;
    opacity: 0;
}
header .masterPlay .vol{
    position: relative;
    width: 100px;
    height: 2px;
    background: rgb(150, 150, 170, .1);
    margin-left: 50px;
}
header .masterPlay .vol .bi{
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -17px;
    left: -30px; 
}
header .masterPlay .vol input{
    position: absolute;
    width: 100%;
    top: -0.5px;
    left: 0;
    cursor: pointer;
    z-index: 999999999999999999999999999999;
    opacity: 0;
}
header .masterPlay .vol .vol_bar{
    position: absolute;
    background: #36e2ec;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
header .masterPlay .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 100%;
    top: -1.5px;
    transition: 1s linear;
}
header .masterPlay .vol .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}
header .song{
    z-index: 2;
}
header .song::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background: url('bg.png');
    z-index: -1;
}
header .song nav{
    width: 90%;
    height: 10%;
    /* border: 1px solid #fff; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song nav ul{
    display: flex;
}
header .song nav ul li{
    list-style: none;
    position: relative;
    font-size: 13px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}
header .song nav ul li:hover{
    color: #fff;
}
header .song nav ul li:nth-child(1){
    color: #fff;
}
header .song nav ul li span{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px; 
} 
header .song nav .search{
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    /* border: 1px solid #fff; */
    color: gray;
}
header .song nav .search::before{
    content: '';
    position: absolute;
    width:100%;
    height: 100%;
    background: rgb(184, 184, 184, .1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: -1;
}
header .song nav .search .bi{
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}
header .song nav .search input{
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
}
/* header .song nav .user{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
} */
/* header .song nav .user img{
    width: 100%;
    height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #121213;
} */
header .song .content{
    width: 90%;
    height: 30%;
    /* border: 1px solid #fff; */
    margin: auto;
    padding-top: 20px;
}
header .song .content h1{
    font-size: 25px;
    font-weight: 600;
}
header .song .content p{
    font-size: 11px;
    font-weight: 400;
    color: #4c5262;
    margin: 5px;
}
header .song .content .buttons{
    margin-top: 15px;
}
header .song .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}
header .song .content .buttons button:hover{
    background: none;
    color: #36e2ec;
}
header .song .content .buttons button:nth-child(2){
    background: none;
    color: #36e2ec;
}
header .song .content .buttons button:nth-child(2):hover{
    background: #36e2ec;
    color: #fff;
}
header .song .popular_song{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    /* border: 1px solid #fff; */
}
header .song .popular_song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song .popular_song .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear; 
}
header .song .popular_song .h4 .bi:hover{
    color: #fff;
}
header .song .popular_song .pop_song{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
    /* border: 1px solid #fff; */
    overflow: auto;
    scroll-behavior: smooth;
}
header .song .popular_song .pop_song::-webkit-scrollbar{
    display: none;
}
header .song .popular_song .pop_song li{
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
}
header .song .popular_song .pop_song li:hover{
    background: rgb(105, 105, 170, .1);
}
header .song .popular_song .pop_song li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .song .popular_song .pop_song li .img_play img{
    width: 100%;
    height: 100%;
}
header .song .popular_song .pop_song li .img_play .bi{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
}
header .song .popular_song .pop_song li:hover .img_play .bi{
    opacity: 1;
}
header .song .popular_song .pop_song li h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 10px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
header .song .popular_song .pop_song li h5 .subtitle{
    font-size: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4c5262;
}
header .song .popular_artist{
    width: 90%;
    height: auto;
    /* border: 1px solid #fff; */
    margin: auto;
    margin-top: 15px;
}
header .song .popular_artist .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song .popular_artist .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear; 
}
header .song .popular_artist .h4 .bi:hover{
    color: #fff;
}
header .song .popular_artist .item{
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    /* border: 1px solid #fff; */
    overflow: auto;
    scroll-behavior: smooth;
}
header .song .popular_artist .item::-webkit-scrollbar{
    display: none;
}
header .song .popular_artist .item li{
    list-style-type: none;
    position: relative;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}
header .song .popular_artist .item li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}